server:
  servlet:
    session:
      timeout: 86400
  port: 8088

spring:
  application:
    name: SDPProject
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 190407011
    url: jdbc:mysql://localhost:3306/sdpbase

  jpa:
    generate-ddl: true
    show-sql: true
    database: mysql
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
    open-in-view: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: todolistorganization@gmail.com
    password: rgankytzymfbyphy
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  rabbitmq:
    listener:
      simple:
        auto-startup: false
  liquibase:
    enabled: false
    change-log: db/changelog-master.yaml



  servlet:
    multipart:
      max-request-size: 2MB
      max-file-size: 2MB
  web:
    resources:
      static-locations: file:src/main/resources/static/

admin:
  email: "ferid-memmedli5@outlook.com"

secrets:
  clientId: c1b4ac0ed062629ee611c80f41c9cd57
  clientSecrets: cc8c73db8a00827e7a64a45f3fe98c8e3f31609c7fbb6cc1f372528946a9c264